<header class="bg-dark text-white py-3">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-6">
        <h5 class="mb-0">Sistema de Cadastro de Clientes</h5>
      </div>
      <div class="col-12 col-md-6 text-md-end mt-3 mt-md-0">
        <a [routerLink]="['/customer-list']" [routerLinkActive]="['active']" class="btn btn-outline-light btn-sm ml-2">Lista de Clientes</a>
        <!-- <a [routerLink]="['/customer-edit/newCustomer']" [routerLinkActive]="['active']" class="btn btn-outline-light btn-sm">Editar Clientes</a> -->
      </div>
    </div>
  </div>
</header>
